<div class="carousel">
    <button
        *ngIf="slides.length > slidesToShow"
        class="control prev"
        (click)="onPreviousClick()"
        [disabled]="prevBtnDisabled">
        PREV
    </button>

    <ng-container *ngFor="let slide of slides; index as slideIndex" >
        <img
            [@carousel]="visibleState"
            (@carousel.start)='animationStart($event)'
            (@carousel.done)='animationEnd($event)'
            [src]="slide.src"
            class="slide"
            *ngIf="(slideIndex === currentSlide) ||
                (screenWidth > 320 && slideIndex === currentSlide + 1) ||
                (screenWidth > 768 && slideIndex === currentSlide + 2) ||
                (screenWidth > 768 && slideIndex === currentSlide + 3)"
        />
    </ng-container>

    <button *ngIf="slides.length > slidesToShow"
            class="control next"
            (click)="onNextClick()"
            [disabled]="nextBtnDisabled">
        NEXT
    </button>

    <div *ngIf="screenWidth <= 768">
        <ng-container *ngFor="let btn of slides.slice(1); index as slideIndex">
            <span class="point"
                  (click)="switchNextPoint(slideIndex)"
                  [ngClass]="{ 'active-point': currentSlide === slideIndex}"
            >
            </span>
        </ng-container>
    </div>
</div>
