.carousel {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.slide {
    border: 2px solid black;
    width: 263px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    /*transition: all 1.2s ease-in-out;*/
}

.points {
    display: none;
}

.point {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
}

.active-point {
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    .control {
        display: none;
    }
}
