.desktop-nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-open {
    display: none;
}

.logo {
    color: white;
}

.menu-desktop-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    margin-right: 20px;
}

.container-right--mobile {
    display: none;
}

.mobile-nav {
    display: none;
}

.mobile-nav-column {
    flex-direction: column;
    background-color: blueviolet !important;
}

.mobile-logo-container {
    display: flex;
    justify-content: space-between;
}

.logo-1 {
    order: 1;
}

.menu-open-1 {
    order: 2;
}

@media (max-width: 1200px) {
    .desktop-nav {
        display: none;
    }

    .menu-open {
        display: flex;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    .menu-desktop-list {
        display: none;
    }

    .container-right--mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: lightgray;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        order: 3;
    }

    .menu-mobile-list {
        margin: 0;
        padding: 0;
    }

    .menu-item {
        color: black;
        border-bottom: 1px solid black;
        padding: 10px;
        margin: 0;
    }
}
