<div class="container">

    <div class="container-logo">
        <img class="menu-open"
             src="{{ isMenuOpen ? menuClose : menuOpen }}"
             alt="menu icon"
             (click)="toggleMenu()">
        <div>
            <h1 class="logo">logotype</h1>
        </div>
    </div>
    <div class="container-cart">
        <img src="../../assets/icons/cart-icon.svg" alt="cart icon">
    </div>

    <div class="container-right">
        <ul *ngIf="!isMenuOpen" class="menu-list">
            <li class="menu-item">Главная</li>
            <li class="menu-item">Биты</li>
            <li class="menu-item">Лицензии и цены</li>
            <li class="menu-item">Товары</li>
            <li class="menu-item">Услуги</li>
            <li class="menu-item">Контакты</li>
        </ul>
    </div>
</div>

