<!--Desktop menu-->
<div class="desktop-nav">
    <h1 class="logo">logotype</h1>
    <ul class="menu-desktop-list">
        <li class="menu-item">Главная</li>
        <li class="menu-item">Биты</li>
        <li class="menu-item">Лицензии и цены</li>
        <li class="menu-item">Товары</li>
        <li class="menu-item">Услуги</li>
        <li class="menu-item">Контакты</li>
    </ul>
    <img src="../../assets/icons/cart-icon.svg" alt="cart icon">
</div>

<!--Mobile menu-->
<div class="mobile-nav" [ngClass]="{'mobile-nav-column': isMenuOpen}">
    <div class="mobile-logo-container">
        <img class="menu-open" [ngClass]="{'menu-open-1': isMenuOpen}"
            src="{{ isMenuOpen ? menuClose : menuOpen }}"
            alt="menu icon"
            (click)="toggleMenu()">
        <h1 class="logo" [ngClass]="{'logo-1': isMenuOpen}">
            {{ !isMenuOpen ? "Logotype" : "Страницы сайта" }}
        </h1>
    </div>
    <div *ngIf="isMenuOpen" class="container-right--mobile">
        <ul class="menu-mobile-list">
            <li class="menu-item">Главная</li>
            <li class="menu-item">Биты</li>
            <li class="menu-item">Лицензии и цены</li>
            <li class="menu-item">Товары</li>
            <li class="menu-item">Услуги</li>
            <li class="menu-item">Контакты</li>
        </ul>
    </div>
    <img *ngIf="!isMenuOpen" src="../../assets/icons/cart-icon.svg" alt="cart icon">
</div>


