.menu--desktop {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu--logo {
    color: white;
    text-transform: uppercase;
}

.menu--logo__order {
    order: 1;
}

.menu--desktop-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-open {
    display: none;
}


.container-right--mobile {
    display: none;
}

.mobile-nav {
    display: none;
}

.mobile-nav-column {
    flex-direction: column;
    background-color: blueviolet !important;
}

.mobile-logo-container {
    display: flex;
    justify-content: space-between;
}


.menu-open-1 {
    order: 2;
}

@media (max-width: 1200px) {
    .menu--desktop {
        display: none;
    }

    .menu-open {
        display: flex;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    .container-right--mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: lightgray;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        order: 3;
    }
}
