<!--Desktop menu-->
<div class="menu--desktop">
    <h1 class="menu--logo">Logo</h1>
    <div class="menu--desktop-list">
        <app-menu-item *ngFor="let item of mobItems"
                       title="{{ item.title }}"
                       [isMob]="false"
        >
        </app-menu-item>
    </div>
    <img src="../../assets/icons/cart-icon.svg" alt="cart icon">
</div>

<!--Mobile menu-->
<div class="mobile-nav" [ngClass]="{'mobile-nav-column': isMenuOpen}">
    <div class="mobile-logo-container">
        <img class="menu-open" [ngClass]="{'menu-open-1': isMenuOpen}"
             src="{{ isMenuOpen ? menuClose : menuOpen }}"
             alt="menu icon"
             (click)="toggleMenu()">
        <h1 class="menu--logo" [ngClass]="{'menu--logo__order': isMenuOpen}">
            {{ !isMenuOpen ? "Logo" : "Страницы сайта" }}
        </h1>
    </div>
    <div *ngIf="isMenuOpen" class="container-right--mobile">
        <app-menu-item *ngFor="let item of mobItems"
                       title="{{ item.title }}"
                       icon="{{ item.icon }}"
                       [isMob]="true"
        >
        </app-menu-item>
    </div>
    <img *ngIf="!isMenuOpen" src="../../assets/icons/cart-icon.svg" alt="cart icon">
</div>


