/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle.css';

.common-box {
    margin: 50px auto;
    border: 2px solid black;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 20px 0;
    background-color: lightgray;
    display: flex;
    flex-direction: column-reverse;
}

.swiper-wrapper {
   /**/
}

.swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
}

/*Arrows*/
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 72px;
    color: darkslategray;
}

/*Bullet*/
.swiper-pagination {
    position: static;
    margin: 30px 0;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 2px solid whitesmoke;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: whitesmoke;
    opacity: 1;
}

/*Dynamic bullet*/
.swiper-pagination-bullets-dynamic {
    margin: 20px auto;
}

.swiper-pagination-fraction  {
    font-size: 40px;
    color: blueviolet;
}
